@page "/"
@inherits AppConfigutaionBase
@inject NavigationManager urihelper;
@using System.Data;

<h3>AppConfiguration</h3>

@if (appConfiguration == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <SfGrid DataSource="@appConfiguration" GridLines="@GridLine.Both" AllowTextWrap="true" AllowResizing="true" Width="100%">
        <GridColumns>
            @foreach (DataColumn col in dtList.Columns)
            {
                if (col.ColumnName == "Id")
                {<GridColumn Field=@col.ColumnName Width="7%" />
                }
                else if (col.ColumnName == "Xml")
                {<GridColumn Field=@col.ColumnName Width="60%" />
                }
                else
                { <GridColumn Field=@col.ColumnName Width="23%" />}
            }
            <GridColumn TextAlign="@TextAlign.Center" Width="10%">
                <Template>
                    @{
                        string Xml = ((string)(context as IDictionary<string, object>)["Xml"]);
                        string ConnectionString = ((string)(context as IDictionary<string, object>)["ConnectionString"]);
                        string ScreenName = ((string)(context as IDictionary<string, object>)["ScreenName"]);
                        string _ProviderName = ((string)(context as IDictionary<string, object>)["ProviderName"]); //ProviderName

                        <a href="#" @onclick="@(() => OnClick(ScreenName,ConnectionString,Xml,_ProviderName))">
                            Check
                        </a>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    @code {
        //...
        void OnClick(string screen, string conn, string xml, string _ProviderName)
        {
            urihelper.NavigateTo("/DynamicView/?xml=" + xml + "&ConnString=" + conn + "&Tital=" + screen + "&ProviderName=" + _ProviderName);
        }
    }
}
