@page "/Test"
@using System.Data;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor

@using System.Dynamic

<h1>Hello, world!</h1>

Welcome to your new app.

<SfGrid @Ref=@grid AllowPaging="true" Width="100%" Height="100%" TValue="@object">
    <GridPageSettings PageSize="5" />
</SfGrid>

@code{

    public SfGrid<object> grid;

    protected override void OnAfterRender(bool firstRender)
    {

        base.OnAfterRender(firstRender);
        List<GridColumn> col = new List<GridColumn>();
        col.Add(new GridColumn() { Field = "OrderID", HeaderText = "ID" });
        col.Add(new GridColumn() { Field = "CustomerID", HeaderText = "Name" });
        grid.Columns = col;
        // var dataManager = new SfDataManager();
        grid.DataManager.CrossDomain = true;
        grid.DataManager.Adaptor = Adaptors.WebApiAdaptor;
        grid.DataManager.EnableCaching = false;
        grid.DataManager.Url = "https://ej2services.syncfusion.com/production/web-services/api/Orders";
        grid.DataManager.Offline = false;
        grid.DataSource = grid.DataManager.Json;
    }
}